[SYS]
# 日志路径
LOG_PATH=../log

[DATABASE]
DB_NAME=NG3_SRJH
USER_NAME=db2inst1
PASSWORD=gmcc1234

[HIVE_SERVER]
#IP_ADDRESS=172.16.1.181
#PORT=10000
#USERNAME=hadoop
#PASSWORD=hadoop
#LOAD_JAR_PATH=
ZK_QUORUM=192.252.100.10:24002,192.252.100.11:24002,192.252.100.42:24002
KRB5_CONF=/home/ng3_kf/RevenueAudit/etc/usr_keytab/krb5.conf
USR_KEYTAB=/home/ng3_kf/RevenueAudit/etc/usr_keytab/user.keytab
PRINCIPAL=srjh_user@DOMAIN2.COM
JAAS_CONF=/home/ng3_kf/RevenueAudit/etc/user.hive.jaas.conf
LOAD_JAR_PATH=/home/ng3_kf/RevenueAudit/lib/Hive.Beeline.jar

[TABLE]
TAB_KPI_RULE=RA_DU_KPI
TAB_KPI_COLUMN=RA_DU_KPICOLUMN
TAB_DIM_VALUE=RA_DU_DIMVALUE
TAB_ETL_RULE=RA_DU_ETLRULE
TAB_ETL_DIM=RA_DU_ETLDIM
TAB_ETL_VAL=RA_DU_ETLVAL
TAB_ANA_RULE=RA_DU_ANALYSIS
TAB_ALARM_RULE=RA_RU_ALARM
TAB_ALARM_EVENT=RA_DU_ALARMEVENT
TAB_DICT_CHANNEL=RA_DICT_CHANNEL
TAB_DICT_CITY=RA_DICT_REGION

